
body{
    width:99%;
    background-image: url(building.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   float: center; 
  
}
#form_wrap h2{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size:40px;
 /* background-image:url(gradient4.jpeg);
 background-attachment: fixed;
 background-size: contain;
 background-repeat: no-repeat; */
 background: blue; 
 color:white;
 width:180%;
 height:50px;
}
#form_wrap{
  float:center;
  justify-content: center;
  align-items: center;
  margin-top:60px;
  display: grid;

  
  
}
form{
float:center;
align-items: center;
justify-content: center;
 display: grid; 
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
input {
 width:180%;
 height:30px;
}
.btn{
    width:180%;
    height:32px;
    font-size:25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     background: blue;
     border:none;
     color:white;
     font-weight: bolder;
     cursor:pointer;
     animation-name: submit-anim;     
}
.btn:hover{
   background-color:#ffbb23;

}
.btn:after{
    transition: 3s ease-in-out;

}
.p_tags{
      display:none;   
    padding:10px;
}